.Center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}


@media (max-width: 600px) {
  .Center {
    height: 100%;
    margin-top: 150px;
  }
}


.loginform .kgf {
  width: 350px;
  max-width: 100%;
  margin-top: 30px;
}

@media (max-width: 600px) {
  .loginform .kgf {
      width: 100%;
  }
}

.loginform p {
  color: red;
  text-align: center;
}


