.Center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  
  .loginform .kgf{
    width:300px;
  margin-top: 25px;
  @media (max-width: 600px) {
    width: 100%; 
  }
  }
  
  
  
  .loginform p
  {
      color: red;
      text-align: center; 
  }
  
  