.header-top {
    background-color: #ffffff;
    margin-top: 0;
    position: fixed;
    top: 0;  
    left: 0;
    width: 100%;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    height: 52px;
  }
  
  .css-jzk4qw-MuiPaper-root-MuiAppBar-root,
  .css-12i7wg6-MuiPaper-root-MuiDrawer-paper,
  .css-ciy9n4-MuiPaper-root-MuiAppBar-root,
  .css-4t3x6l-MuiPaper-root-MuiDrawer-paper  
  {
    background-color: #9f47d1 !important; 
    color: #fff !important; 
  }
  .css-cveggr-MuiListItemIcon-root,
  .css-78trlr-MuiButtonBase-root-MuiIconButton-root{
    color: #fff !important; 
  }